@using BookSwapping.Services.Contracts
@model ICollection<BookSwapping.Data.Models.Library>
@inject ILibraryService LibraryService
@{
    ViewData["Title"] = "Index";
}

<div class="container text-center">
    <div>
        <h4 class="text-danger">@await this.LibraryService.CountOfBooksInLibrary() <a asp-action="AllBookInLibrary" asp-controller="Library" class="nav-link text-primary d-inline">Налични книги</a></h4>
    </div>

    <h4 class="text-dark">Последно добавени книги</h4>

    @foreach (var b in Model)
    {
        var img = String.Format("data:image/png;base64,{0}", Convert.ToBase64String(b.Book.BookCover.ImageContent));
        <div class="card-header bg-transparent d-inline-block m-2 justify-content-center">
            <img src=@img class="card-img-top" alt="@b.Book.BookCover.BookName" style="width: 100px;">
            <div class="card-body">
                <p class="card-text">
                    <a asp-action="BookDetails"
                       asp-controller="Book"
                       asp-route-id="@b.BookId" class="text-decoration-none text-dark font-weight-bold" > 
                        @b.Book.BookCover.BookName
                    </a>
                </p>
                <p class="card-text">
                    <a asp-action="Author"
                       asp-controller="Author"
                       asp-route-id="@b.Book.AuthorId"
                       asp-route-name="@b.Book.Author.Name" class="text-decoration-none text-info">
                        @b.Book.Author.Name
                    </a>
                </p>
            </div>
        </div>
    }
</div>
