@model ICollection<BookSwapping.Data.Models.Book>
@using BookSwapping.Services.Contracts
@inject ILibraryService LibraryService
@{
    ViewData["Title"] = "MyBook";

}


<div class="container">

    <p>
        Добави нова книга
        <a asp-action="CreateBook" asp-controller="Book" class="btn btn-primary btn-sm">
            Добави
        </a>
    </p>

    <div class="row">
        <div class="col-12">
            <table class="table table-image">
                <thead>
                    <tr>
                        <th scope="col">Изображение за корица</th>
                        <th scope="col">Заглавие</th>
                        <th scope="col">Кратко резюме</th>
                        <th scope="col">Автор</th>
                        <th scope="col">Жанр</th>
                        <th scope="col">Сподели</th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var book in Model)
                    {
                        <tr>
                            <td class="w-25">
                                @{
                                    var img = String.Format("data:image/png;base64,{0}", Convert.ToBase64String(book.BookCover.ImageContent));
                                }
                                <img src="@img" />
                            </td>
                            <td>@book.BookCover.BookName</td>
                            <td>@book.BookCover.Description</td>
                            <td>@book.Author.Name</td>
                            <td>@book.Genre.TypeGenre</td>
                            <td>
                                @{
                                    if (await LibraryService.IsBookShared(book.Id) != 0)
                                    {
                                        <a asp-action="CancelShareBookFromLibrary" asp-controller="Book" asp-route-id="@book.Id" class="btn btn-warning"> Отказ </a>
                                    }
                                    else
                                    {
                                        <a asp-action="ShareBookToLibrary" asp-controller="Book" asp-route-id="@book.Id" class="btn btn-primary btn-sm"> Сподели </a>
                                    }
                                }
                                <a asp-action="Edit" asp-controller="Book" asp-route-id="@book.Id" class="btn btn-info btn-sm">Редактирай</a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}