@using BookSwapping.Services.Contracts
@model ICollection<BookSwapping.Data.Models.Library>
@inject ILibraryService LibraryService
@{
    ViewData["Title"] = "Library";
}

<div class="container d-inline-block">
    @foreach (var b in Model)
    {
        var img = String.Format("data:image/png;base64,{0}", Convert.ToBase64String(b.Book.BookCover.ImageContent));
        <div class="card-header m-2">
            <div class="row">
                <div class="col-auto">
                    <img src=@img class="img-fluid img-thumbnail" alt="@b.Book.BookCover.BookName" style="width:150px;">
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a asp-action="BookDetails"
                               asp-controller="Book"
                               asp-route-id="@b.Book.Id" class="text-danger text-decoration-none">
                                @b.Book.BookCover.BookName
                            </a>
                        </h5>
                        <h6 class="card-subtitle mt-2">
                            Автор:
                            <a asp-action="Author"
                               asp-controller="Author"
                               asp-route-id="@b.Book.AuthorId"
                               asp-route-name="@b.Book.Author.Name" class="text-primary text-decoration-none">
                                @b.Book.Author.Name
                            </a>
                        </h6>
                        <h6 class="card-subtitle mt-2">
                            Жанр:
                            <a asp-action="GetAllBooksFromGenre"
                               asp-controller="Genre"
                               asp-route-genre="@b.Book.Genre.TypeGenre"
                               class="text-primary text-decoration-none">
                                @b.Book.Genre.TypeGenre
                            </a>
                        </h6>
                        <p class="card-subtitle mt-2">Публикувана на: @b.Date</p>
                        <p class="card-subtitle mt-2">Публикувана от: @b.Book.User.UserName</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
