@using BookSwapping.Services.Contracts
@model IEnumerable<BookSwapping.Models.ViewModels.Library.GetAllBooksFromLibraryViewModel>
@inject ILibraryService LibraryService
@{
    ViewData["Title"] = "Library";
}

<div class="container d-inline-block">
    @foreach (var b in Model)
    {
        var img = String.Format("data:image/png;base64,{0}", Convert.ToBase64String(b.ImageContent));
        <div class="card-header m-2">
            <div class="row">
                <div class="col-auto">
                    <img src=@img class="img-fluid img-thumbnail" alt="@b.BookName" style="width:150px;">
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a asp-action="BookDetails"
                               asp-controller="Book"
                               asp-route-id="@b.BookId" class="text-danger text-decoration-none">
                                @b.BookName
                            </a>
                        </h5>
                        <h6 class="card-subtitle mt-2">
                            Автор:
                            <a asp-action="Author"
                               asp-controller="Author"
                               asp-route-id="@b.AuthorId"
                               asp-route-name="@b.AuthorName" class="text-primary text-decoration-none">
                                @b.AuthorName
                            </a>
                        </h6>
                        <h6 class="card-subtitle mt-2">
                            Жанр:
                            <a asp-action="GetAllBooksFromGenre"
                               asp-controller="Genre"
                               asp-route-genre="@b.Genre"
                               class="text-primary text-decoration-none">
                                @b.Genre
                            </a>
                        </h6>
                        <p class="card-subtitle mt-2">Публикувана на: @b.DateTime</p>
                        <p class="card-subtitle mt-2">Публикувана от: @b.UploadBy</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
