@model IEnumerable<BookSwapping.Models.ViewModels.Author.GetAllAuthorBooksViewModel>
@{
    ViewData["Title"] = "Author";
}

<div class="container text-center">
    <div class="text-center">Още книги от автора: <h4>@ViewData["Author"]</h4></div>

    @foreach (var b in Model)
    {

        var img = String.Format("data:image/png;base64,{0}", Convert.ToBase64String(b.ImageContent));
        <div class="card-header d-inline-block m-2">
            <img src=@img class="card-img-top" alt="@b.BookName" style="width: 150px;">
            <div class="card-body">
                <p class="card-text">
                    <a asp-action="BookDetails"
                       asp-controller="Book"
                       asp-route-id="@b.BookId" class="text-decoration-none">
                        @b.BookName
                    </a>
                </p>
                <p class="card-text">
                    <a asp-action="GetAllBooksFromGenre"
                       asp-controller="Genre"
                       asp-route-genre="@b.Genre" class="text-decoration-none">
                        @b.Genre
                    </a>
                </p>
            </div>
        </div>
    }
</div>

