@using BookSwapping.Services.Contracts
@model IEnumerable<BookSwapping.Models.ViewModels.Genre.GetAllBooksFromGenreViewModel>
@inject ILibraryService LibraryService 
@{
    ViewData["Title"] = "GetAllBooksFromGenre";
}

<div class="container text-center">
    <div class="text-center">Всички книги от жанра: <h4>@ViewData["Genre"]</h4></div>

    @foreach (var b in Model)
    {
        if (await this.LibraryService.IsBookShared(b.BookId))
        {
            var img = String.Format("data:image/png;base64,{0}", Convert.ToBase64String(b.ImageContent));
            <div class="card-header d-inline-block m-2">
                <img src=@img class="card-img-top" alt="@b.BookName" style="width: 150px;">
                <div class="card-body">
                    <p class="card-text">
                        <a asp-action="BookDetails"
                           asp-controller="Book"
                           asp-route-id="@b.BookId" class="text-decoration-none">
                            @b.BookName
                        </a>
                    </p>
                    <p class="card-text">
                        <a asp-action="Author"
                           asp-controller="Author"
                           asp-route-id="@b.AuthorId" asp-route-name="@b.Author" class="text-decoration-none">
                            @b.Author
                        </a>
                    </p>
                </div>
            </div>
        }
    }
</div>
